/* html, body {
  width: 100%;
} */
.container{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  min-height:calc(100vh - 150px);
  width:100%;
  padding-top: 0px;
}

.pages-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height:calc(100vh - 150px);
  width:100%;
  padding-top: 0px;
}

.form-box{
    max-width:480px;
    height: 100;
    background-color:#ffffff;
    padding:20px;
    margin: auto;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    /* opacity:0.5; */
    /* line-height: 1.5em 0; */
    border-radius:2%;
    color: #000;
    /* border: solid 1px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* background-color: #16213E48;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
}

.register-form{
  width: 100%;
  height: 100;
  background-color:#ffffff;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  /* opacity:0.5; */
  /* line-height: 1.5em 0; */
  color: #000;
  box-sizing: border-box;
}

.form-item-box-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-title{
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-bottom: 5%;
}
.input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px rgba(142, 151, 167, 0.445);
    line-height: 1.;
    margin-bottom: 20px;
}

.form-button{
    width: 100%;
    padding: 20px 14px;
    margin: 1.5em 0;
    font-size: 100%;
    font-weight: bold;
}

.logout-button{
  font-weight: bold;
  background-color: #23486d;
  padding: 0.4em 1em;
  border: solid 1px;
  border-radius: 5px;
  color: #becac9;
}

.download-button{
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
  background-color: #237a3d;
  color: rgb(219, 219, 219);
  border: solid 1px rgba(107, 167, 117, 0.2);
}
.download-button:hover{
  background-color: #094d1e;
}

/* Drop down */
.select {
    appearance: none;
    outline: 0;
    font: inherit;

    width: 100%;
    height: 3em;
    padding: 0 4em 0 1em;
    /* margin: 1.5em 0; */
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
        no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, rgb(68, 52, 129) 3em, rgba(255, 255, 255, 0.2) 3em);
    color: rgb(0, 0, 0);
    border-radius: 0.25em;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); */
    cursor: pointer;

  }
  
.sneakbar{
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius:  5px;
}


.navbar {
    background-color: #16213E;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .main-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
  }
  
  .nav-logo {
    color: #ff5e14;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  
  .nav-item.active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .form-box{
      box-shadow: none;
      border: none;
    }
    .table-name{
      font-size: 1.5rem !important;
    }
  
    .nav-menu.active {
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item{
      margin: 0;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: .6rem;
      width: 100%;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
  }

  
  /* Table */
.table-wrapper{
    margin: 30px auto 73px;

    /* width: 500px; */
    /* box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
    /* border: solid 1px rgba(0, 0, 0, 0.2); */
    box-sizing: border-box;
}

  .fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    box-sizing: border-box;
}
.table-name{
  font-size: 200%;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.fl-table thead th {
    color: #ffffff;
    background: #c1b7c9;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #60789185;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
.no-data {
  font-weight: bold;
  text-align: center;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: flex;
      width: 350px;
  }
  /* .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  } */
  .table-wrapper{
    margin: 5px auto 5px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      /* width: auto; */
      /* position: relative; */
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

.list-container {
  max-width:480px;
  min-width: 400px;
  background-color:#ffffff;
  padding:20px;
  margin: 0 auto;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  /* opacity:0.5; */
  /* line-height: 1.5em 0; */
  border-radius:2%;
  color: #000;
  /* border: solid 1px rgba(0, 0, 0, 0.2); */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* background-color: #16213E48;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
  box-sizing: border-box;
}
.list {
  background: #fff;
  border-radius: 2px;
  list-style: none;
  padding: 10px 20px;
}

.list-item {
  display: flex;
  width: 100%;
  margin: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.list-item-image {
  border-radius: 50%;
  width: 64px;
  margin: 0.5em;
}
.list-item h4, p{
  margin: 0;
}
.list-item h4{
  margin-top: 10px;
  font-size: 18px;
}
.list-item p{
  margin-top: 5px;
  color: #aaa;
}


/* Footer */
.footer{
  background: #202020;
  padding: 25px 0;
  height: 70px;
  box-sizing: border-box;
}
.footer-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  text-align: center;
}
.footer-text p a{
  color: #ff5e14;
}